.about-info {
  justify-content: center;
}

.event-info {
  display: flex;
}

.event-about {
  display: inline-block;
}

.event-container {
  display: flex;
  flex-direction: column;
}
.group-and-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  color: red
}

.organizer-info {
  justify-content: center;
}

.image-and-details {
  display: flex;

}

.upcoming-event-wrapper {
  display: flex;
  flex-direction: column;
}
