.about-info {
  justify-content: center;
}

.group-and-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.placeholder {
  color: red
}

.organizer-info {
  justify-content: center;
}
