.edit-membership-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: green
}

.edit-membership-button-container {
    display: flex;
}

.edit-membership-button:hover {
    cursor: pointer;
    background-color: rgb(179, 235, 179)
}

.delete-membership-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: red
}

.delete-membership-button:hover {
    cursor: pointer;
    background-color: rgb(235, 194, 194)
}

.member-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-between; */
    column-gap: 10px;
    margin: 0 5px;
    width: 500px;
    border-bottom: 1px solid lightblue
}

.member-name {
    padding: 3px;
    word-break: break-all;
    /* width: fit-content */
}

.member-status {
    padding: 3px;
    margin: 0px 5px;
}

.modal-container {
    width: 500px;
    margin: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

.no-members {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 5px;
    height: 75px;
    font-weight: bold;
    align-items: center;
}
