.about-link {
    text-decoration: underline;
    color: teal;
}

.about-link:visited {
    text-decoration: underline;
    color: teal;
}

.container {
    color: teal;
    max-width: 1024px;
    margin: 0 auto;
}
