

.dot-in-event-details-page {
  height: 3px;
  width: 3px;
  background-color:teal;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.end-container {
  display: flex
}

.end-date {
  padding-right: 10px;
  color: teal;
}

.end-time {
  padding-left: 10px;
  color: teal;
}

.end-date span {
  padding-right: 10px;
  color: gray
}

.event-price {
  color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.whole-event-container {
  display: flex;
  padding-top: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
}

.event-organizer {
  color: gray;
}

.event-type-buttons-container {
  display: flex;
  justify-content: space-between;

}

.group-image-inside-event-details img {
  max-width: 30%;
  height: auto;

}

.group-image-detail {
  display: flex
}

.group-detail-container {
  display: flex;
  flex-direction: column;
}

.group-event-info-container {
  display: flex;
  flex-direction: column;
}

.online-in-person-in-event-detail {
  color: gray;
}

.private-public-in-event-detail {
  color: gray;
  padding-top: 5px ;
}

.start-container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 3px;

}

.start-date {
  padding-right: 10px;
  color: teal;
}

.start-date span {
  padding-right: 10px;
  color: gray
}

.start-time {
  padding-left: 10px;
  color: teal;
}

.update-delete-buttons-on-event-detail button {
  background-color: gray;
  text-align: center;
  color: white;
  border: solid black 2px;
  padding: 6px 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 5px;
}
