.hidden {
  display: none
}

.login-signup-buttons {
  list-style: none;
}

.masthead__home-button {
  text-decoration: none;
  font-weight: bold;
  color: #FF5A5F;

}

.sessionUser-nav-links {
  display: flex;
}
